.container {
    font-family: 'Poppins', sans-serif;
    background-color: #fe8a41;
    display: flex;
    flex-direction: row;
    height: 566px;
}

.textCointainer{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-left: 170px;
}

.text{
    background-color: #fe7829;
    color: #ffdab9;
    margin: 25px;
    border-radius: 40px;
    width: 400px;
    height: 400px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragraph{
    font-size: 20px;
}

.title{
    color: #ffdab9;
    font-size: 25px;
    margin-bottom: 20px;
}

.logos{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 60px;
    height: 60px;
    margin: 35px 10px 10px 10px;
    transition: all 400ms ease;
}

.logo:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .4s;
}

.aboutImage{
    width: 450px;
    height: 566px;
    display: flex;
    justify-content: flex-end;
}
.imageContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}