.container {
    border-radius: 15px;
    padding: 25px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-block: 5px;
    background-size: cover;
    overflow: hidden;
}

.dogImage {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}
.name{
  padding: 10px;
  font-size: 20px;
}

.atributes {
  border-radius: 15px;
  background-color: #fe7829;
  color: #faf2e8;
  width: 250px;
  height: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.detail{
  padding-bottom: 10px;
  background-color: #faf2e8;
    color: red;
    border-radius: 20px;
    border-color: transparent;
    font-size: 17px;
    margin: 15px;
    padding: 5px;
    height: 40px;
    width: 80px;
}

.detail:hover{
  cursor: pointer;
  -moz-osx-font-smoothing:grayscale;
  background-color: #f7a84f;
}