.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}

.selectContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
}

.select {
    padding-bottom: 10px;
    background-color: #faf2e8;
    color: red;
    border-radius: 20px;
    border-color: transparent;
    font-size: small;
    margin: 15px;
    padding: 5px;
    height: 30px;
    width: 60px;
    font-family: 'Poppins', sans-serif;
}

.select:hover{
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
}

.select:focus{
outline: none;
}

.selectFilter {
    padding-bottom: 10px;
    background-color: #faf2e8;
    color: red;
    border-radius: 20px;
    border-color: transparent;
    font-size: small;
    margin: 15px;
    padding: 5px;
    height: 30px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
}

.selectFilter:focus{
    outline: none;
    }

.reset{
    background-color: #faf2e8;
    color: red;
    border-radius: 20px;
    border-color: transparent;
    margin: 15px;
    padding: 5px;
    height: 30px;
    width: 120px;;
    font-family: 'Poppins', sans-serif;
}

.reset:hover {
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
}