.pageNumerList {
  margin: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.1rem;
}

.pageNumber {
  text-align: center;
  user-select: none;
  margin: 15px 5px;
  font-size: 12px;
  width: 27px;
  height: 23px;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #fe7829;
  font-family: 'Poppins', sans-serif;
  transition: all 400ms ease;
}

.pageNumber:hover, .pageNumber__active {
  text-align: center;
  user-select: none;
  margin: 20px 5px;
  font-size: 12px;
  width: 27px;
  height: 23px;
  display: block;
  padding:0.5rem;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  background-color: #ffd437;
  color: #fe7829;
  transform: scale(1.3,1.3);
  transition-duration: .4s;
  font-family: 'Poppins', sans-serif;
}

.nav{
  z-index: 0;
  max-width: 800px;
}