.container {
   display: flex;
   flex-direction: row;
   background-color: #fe7829;
   justify-content: center;
   align-items: center;
   height: 617px;
}

.pawprint{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.title {
    color: #faf2e8;
    font-size: 85px;
    font-family: 'Poppins', sans-serif;
    margin: 15px;
}

.button{
    background-color: #faf2e8;
    color: #fd5712;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border-color: transparent;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    height: 50px;
    width: 100px;
}

.button:hover{
    cursor: pointer;
    background-color: #f7a84f;
}

.landingPhoto{
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}
.imageContainer{
    display: flex;
    justify-content: flex-end;
    
}